---
import Cuotas from '../components/Cuotas.astro';
import Header from '../components/Header.astro';
import Promocion from '../components/Promocion.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Cuotas />
		<Header />
		<div>
			<Promocion 
			title = "Descuentos"
			image = "/src/images/Descuentos1.png"
			/>
		</div>
	</main>
</Layout>