<div class="bg-white text-black py-4">
    <div class="container mx-auto flex justify-between items-center relative">
      <div class="bg-gray-300 rounded-full p-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"/>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
        </svg>
      </div>
      <h1 class="absolute left-1/2 transform -translate-x-1/2 text-4xl font-bold">
        Vancouver
      </h1>
      <div class="flex items-center space-x-4">
        <!-- Search input for larger screens -->
        <div class="hidden md:flex items-center bg-gray-300 rounded-full p-2">
          <input type="text" placeholder="Buscar" class="bg-transparent focus:outline-none px-2 py-1 rounded-l-full" />
          <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
            <path d="M21 21l-6 -6"/>
          </svg>
        </div>
        <!-- Search button for smaller screens -->
        <div class="flex md:hidden bg-gray-300 rounded-full p-2">
          <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
            <path d="M21 21l-6 -6"/>
          </svg>
        </div>
        <div class="bg-gray-300 rounded-full p-2">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
            <path d="M17 17h-11v-14h-2"/>
            <path d="M6 5l14 1l-1 7h-13"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
